body {
	background-color: antiquewhite;
	color: #a03c23;
	font-family: sans-serif;
}

h1 {
	color: rgb(255, 0, 0);
}

h2 {
	font-size: 26px;
	color: orange;
}

a {
	color: #94b501;
}

a:hover {
	text-shadow: 2px 2px 3px;
}

figure img {
	display: block;
	margin: auto;
	border: 5px dashed palevioletred;
}

figcaption {
	font-size: small;
	text-align: center;
}

strong {
	text-decoration: underline;
	font-weight: normal;
}

#introduction {
	font-style: italic;
}

.interet {
	font-weight: bold;
}

.repere {
	height: 50px;
	float: right;
}
